.notification-bar .pane {
  -fx-background-color: rgba(253, 255, 223, 0);
}
.notification-bar .pane * .label {
  -fx-font-family: "Noto Sans CJK DemiLight";
}
.dialog-pane {
  -fx-font-family: "Noto Sans CJK DemiLight";
  -fx-background-color: #fffcf2;
  -fx-font-size: 13;
}
.dialog-pane .button {
  -fx-font-size: 14;
  -fx-background-color: #74a982;
  -fx-text-fill: #fffcf2;
  -fx-border-width: 1px;
  -fx-border-color: rgba(255, 255, 255, 0);
  -fx-background-radius: 8;
}
.dialog-pane .button:hover {
  -fx-effect: dropshadow(three-pass-box, #74a982, 8, 0, 0, 0);
}
.dialog-pane .button > .label {
  -fx-background-color: #74a982;
  -fx-text-fill: #fffcf2;
}
.dialog-pane .button .arrow {
  -fx-background-color: #fffcf2;
}
.dialog-pane .text-field {
  -fx-background-color: rgba(255, 255, 255, 0.6);
  -fx-border-width: 0 0 2 0;
  -fx-border-color: #74a982;
  -fx-border-style: solid;
  -fx-text-fill: #74a982;
}
.heavy-background {
  -fx-background-color: rgba(255, 255, 255, 0.6);
}
.scene {
  -fx-background-size: cover;
  -fx-font-family: "Noto Sans CJK DemiLight";
}
.scene .tool-bar {
  -fx-background-color: rgba(255, 255, 255, 0.8);
}
.scene .tool-bar .button {
  -fx-border-style: dashed;
  -fx-border-color: rgba(0, 0, 0, 0);
  -fx-border-width: 1px;
  -fx-background-color: rgba(255, 255, 255, 0);
  -fx-text-fill: #74a982;
  -fx-border-radius: 6px;
}
.scene .tool-bar .button:hover {
  -fx-effect: dropshadow(three-pass-box, #74a982, 8, 0, 0, 0);
}
.scene .tool-bar .menu-button {
  -fx-border-width: 1px;
  -fx-border-color: rgba(255, 255, 255, 0);
}
.scene .tool-bar .menu-button > .label,
.scene .tool-bar .menu-button .arrow,
.scene .tool-bar .menu-button {
  -fx-background-color: rgba(255, 255, 255, 0);
  -fx-text-fill: #74a982;
}
.scene .tool-bar .menu-button:hover {
  -fx-effect: dropshadow(three-pass-box, #74a982, 8, 0, 0, 0);
}
.scene .tool-bar .menu-button .menu-item {
  -fx-font-size: 13;
  -fx-accent: #74a982;
}
.scene .tool-bar .menu-button .menu-item:selected .label,
.scene .tool-bar .menu-button .menu-item:hover .label,
.scene .tool-bar .menu-button .menu-item:focused .label {
  -fx-text-fill: #FFF;
}
.scene .tool-bar .tooltip {
  -fx-font-size: 14;
}
.scene .prop-sheets {
  -fx-background: rgba(245, 237, 240, 0.2);
}
.scene .prop-sheets .button {
  -fx-background-color: #74a982;
  -fx-text-fill: #fffcf2;
  -fx-border-width: 1px;
  -fx-border-color: rgba(255, 255, 255, 0);
  -fx-background-radius: 8;
}
.scene .prop-sheets .button:hover {
  -fx-effect: dropshadow(three-pass-box, #74a982, 8, 0, 0, 0);
}
.scene .prop-sheets .button > .label {
  -fx-background-color: #74a982;
  -fx-text-fill: #fffcf2;
}
.scene .prop-sheets .button .arrow {
  -fx-background-color: #fffcf2;
}
.scene .prop-sheets .combo-box {
  -fx-border-color: #74a982;
  -fx-border-style: solid;
  -fx-border-width: 0 0 1.5 0;
  -fx-background-color: rgba(255, 255, 255, 0);
}
.scene .prop-sheets .combo-box .list-view {
  -fx-text-fill: #74a982;
  -fx-background-color: #fffcf2;
}
.scene .prop-sheets .combo-box .list-view .list-cell:selected * {
  -fx-text-fill: #fffcf2;
  -fx-background-color: #74a982;
}
.scene .prop-sheets .combo-box .list-view .list-cell:hover,
.scene .prop-sheets .combo-box .list-view .list-cell:focused {
  -fx-text-fill: #fffcf2;
  -fx-background-color: #74a982;
}
.scene .prop-sheets .combo-box .list-view .list-cell:hover *,
.scene .prop-sheets .combo-box .list-view .list-cell:focused * {
  -fx-text-fill: #fffcf2;
}
.scene .prop-sheets .slider {
  -fx-background-color: rgba(255, 255, 255, 0);
  -fx-font-size: 8;
}
.scene .prop-sheets .slider .thumb {
  -fx-background-color: #74a982;
  -fx-effect: dropshadow(three-pass-box, #74a982, 8, 0, 0, 0);
}
.scene .prop-sheets .slider .track {
  -fx-background-color: rgba(255, 255, 255, 0.6);
  -fx-border-color: #74a982;
  -fx-border-radius: 12;
}
.scene .progress-bar .track {
  -fx-background-color: rgba(255, 255, 255, 0);
  -fx-border-color: #55917f;
  -fx-border-width: 1px;
  -fx-border-style: dashed;
  -fx-border-radius: 8;
  -fx-background-radius: 8;
}
.scene .progress-bar .bar {
  -fx-background-color: #74a982;
  -fx-border-radius: 8;
  -fx-background-radius: 8;
}
.scene .context-menu .menu-item {
  -fx-accent: #74a982;
}
.scene .context-menu .menu-item:hover .label,
.scene .context-menu .menu-item:focused .label,
.scene .context-menu .menu-item:selected .label {
  -fx-text-fill: #fffcf2;
}
.scene .scroll-bar {
  -fx-background-color: rgba(255, 255, 255, 0);
  -fx-font-size: 8;
}
.scene .scroll-bar .thumb {
  -fx-background-color: #74a982;
  -fx-effect: dropshadow(three-pass-box, #74a982, 8, 0, 0, 0);
}
.scene .scroll-bar .track {
  -fx-background-color: rgba(255, 255, 255, 0.6);
  -fx-border-color: #74a982;
  -fx-border-radius: 12;
}
.scene .view {
  -fx-background-color: rgba(255, 255, 255, 0.4);
}
.scene .split-pane {
  -fx-background-color: rgba(255, 255, 255, 0);
}
.scene .split-pane .split-pane-divider {
  -fx-background-color: rgba(245, 237, 240, 0.8);
  -fx-padding: 0 1 0 1;
}
.scene .text-area,
.scene .text-area * {
  -fx-background-color: rgba(255, 255, 255, 0.2);
}
.scene .text-area .scroll-bar,
.scene .text-area * .scroll-bar {
  -fx-background-color: rgba(255, 255, 255, 0);
  -fx-font-size: 8;
}
.scene .text-area .scroll-bar .thumb,
.scene .text-area * .scroll-bar .thumb {
  -fx-background-color: #74a982;
  -fx-effect: dropshadow(three-pass-box, #74a982, 8, 0, 0, 0);
}
.scene .text-area .scroll-bar .track,
.scene .text-area * .scroll-bar .track {
  -fx-background-color: rgba(255, 255, 255, 0.6);
  -fx-border-color: #74a982;
  -fx-border-radius: 12;
}
.scene .text-area {
  -fx-font-family: "Noto Sans CJK DemiLight";
  -fx-font-size: 14;
}
.scene .scroll,
.scene .scroll * {
  -fx-background-color: rgba(255, 255, 255, 0.3);
}
.scene .scroll .scroll-bar,
.scene .scroll * .scroll-bar {
  -fx-background-color: rgba(255, 255, 255, 0);
  -fx-font-size: 8;
}
.scene .scroll .scroll-bar .thumb,
.scene .scroll * .scroll-bar .thumb {
  -fx-background-color: #74a982;
  -fx-effect: dropshadow(three-pass-box, #74a982, 8, 0, 0, 0);
}
.scene .scroll .scroll-bar .track,
.scene .scroll * .scroll-bar .track {
  -fx-background-color: rgba(255, 255, 255, 0.6);
  -fx-border-color: #74a982;
  -fx-border-radius: 12;
}
.scene .content-view {
  -fx-background-color: rgba(255, 255, 255, 0.6);
  -fx-background-radius: 12;
  -fx-font-size: 13;
}
.scene .content-view .check-box .box {
  -fx-background-color: rgba(255, 255, 255, 0);
  -fx-border-color: #55917f;
}
.scene .content-view .check-box:selected .mark {
  -fx-background-color: #55917f;
  -fx-effect: dropshadow(three-pass-box, #55917f, 8, 0, 0, 0);
}
.scene .content-view .combo-box {
  -fx-border-color: #74a982;
  -fx-border-style: solid;
  -fx-border-width: 0 0 1.5 0;
  -fx-background-color: rgba(255, 255, 255, 0);
}
.scene .content-view .combo-box .list-view {
  -fx-text-fill: #74a982;
  -fx-background-color: #fffcf2;
}
.scene .content-view .combo-box .list-view .list-cell:selected * {
  -fx-text-fill: #fffcf2;
  -fx-background-color: #74a982;
}
.scene .content-view .combo-box .list-view .list-cell:hover,
.scene .content-view .combo-box .list-view .list-cell:focused {
  -fx-text-fill: #fffcf2;
  -fx-background-color: #74a982;
}
.scene .content-view .combo-box .list-view .list-cell:hover *,
.scene .content-view .combo-box .list-view .list-cell:focused * {
  -fx-text-fill: #fffcf2;
}
.scene .content-view .btn-block {
  -fx-background-color: #74a982;
  -fx-text-fill: #fffcf2;
  -fx-border-width: 1px;
  -fx-border-color: rgba(255, 255, 255, 0);
  -fx-background-radius: 8;
}
.scene .content-view .btn-block:hover {
  -fx-effect: dropshadow(three-pass-box, #74a982, 8, 0, 0, 0);
}
.scene .content-view .btn-block > .label {
  -fx-background-color: #74a982;
  -fx-text-fill: #fffcf2;
}
.scene .content-view .btn-block .arrow {
  -fx-background-color: #fffcf2;
}
.scene .content-view .btn-no-bg {
  -fx-border-style: dashed;
  -fx-border-color: rgba(0, 0, 0, 0);
  -fx-border-width: 1px;
  -fx-background-color: rgba(255, 255, 255, 0);
  -fx-text-fill: #74a982;
  -fx-border-radius: 6px;
}
.scene .content-view .btn-no-bg:hover {
  -fx-effect: dropshadow(three-pass-box, #74a982, 8, 0, 0, 0);
}
.scene .content-view .text-field {
  -fx-background-color: rgba(255, 255, 255, 0.6);
  -fx-border-width: 0 0 2 0;
  -fx-border-color: #74a982;
  -fx-border-style: solid;
  -fx-text-fill: #74a982;
}
.scene .content-view .tree-view {
  -fx-background-color: rgba(255, 255, 255, 0);
}
.scene .content-view .tree-view .tree-cell {
  -fx-text-fill: #55917F;
}
.scene .content-view .tree-view .tree-cell:empty {
  -fx-background-color: rgba(255, 255, 255, 0);
}
.scene .content-view .tree-view .tree-cell:filled {
  -fx-background-color: rgba(255, 255, 255, 0.4);
}
.scene .content-view .tree-view .tree-cell:filled * {
  -fx-text-fill: #55917f;
}
.scene .content-view .tree-view .tree-cell:filled:selected {
  -fx-background-color: #74a982;
  -fx-text-fill: #fffcf2;
}
.scene .content-view .tree-view .tree-cell:filled:selected .label,
.scene .content-view .tree-view .tree-cell:filled:selected .arrow {
  -fx-text-fill: #fffcf2;
}
.scene .content-view .table-view {
  -fx-background-color: rgba(255, 255, 255, 0);
}
.scene .content-view .table-view .column-header-background {
  -fx-background-color: rgba(255, 255, 255, 0);
}
.scene .content-view .table-view .column-header-background .filler {
  -fx-background-color: #55917f;
  -fx-background-radius: 6;
}
.scene .content-view .table-view .column-header {
  -fx-background-color: #55917f;
  -fx-background-radius: 6;
}
.scene .content-view .table-view .column-header .label {
  -fx-text-fill: #fffcf2;
}
.scene .content-view .table-view .table-row-cell .cell {
  -fx-alignment: center-left;
}
.scene .content-view .table-view .table-row-cell:empty {
  -fx-background-color: rgba(255, 255, 255, 0);
}
.scene .content-view .table-view .table-row-cell:filled {
  -fx-background-color: rgba(255, 255, 255, 0.4);
  -fx-background-radius: 4;
}
.scene .content-view .table-view .table-row-cell:filled .label {
  -fx-text-fill: #55917f;
}
.scene .content-view .table-view .table-row-cell:filled:selected {
  -fx-background-color: #74a982;
}
.scene .content-view .table-view .table-row-cell:filled:selected .label {
  -fx-text-fill: #fffcf2;
}
.scene .content-view .default-pane {
  -fx-background-color: rgba(255, 255, 255, 0.6);
}
.scene .content-view .default-pane .button {
  -fx-border-style: dashed;
  -fx-border-color: rgba(0, 0, 0, 0);
  -fx-border-width: 1px;
  -fx-background-color: rgba(255, 255, 255, 0);
  -fx-text-fill: #74a982;
  -fx-border-radius: 6px;
}
.scene .content-view .default-pane .button:hover {
  -fx-effect: dropshadow(three-pass-box, #74a982, 8, 0, 0, 0);
}
